/.devcontainer.json linguist-vendored
/.gitattributes linguist-vendored
/.github/ISSUE_TEMPLATE/bug_report.yml linguist-vendored
/.github/ISSUE_TEMPLATE/feature_request.yml linguist-vendored
/.github/ISSUE_TEMPLATE/question.yml linguist-vendored
/.gitignore linguist-vendored
/.prettierignore linguist-vendored
/.prettierrc.json linguist-vendored
/.vscode/settings.json linguist-vendored
/.vscode/launch.json linguist-vendored
/package-lock.json linguist-vendored
/package.json linguist-vendored
/tsconfig.json linguist-vendored
/lib/docs/* linguist-vendored
