/.devcontainer.json linguist-generated=true
/.gitattributes linguist-generated=true
/.github/ISSUE_TEMPLATE/bug_report.yml linguist-generated=true
/.github/ISSUE_TEMPLATE/feature_request.yml linguist-generated=true
/.github/ISSUE_TEMPLATE/question.yml linguist-generated=true
/.gitignore linguist-generated=true
/.prettierignore linguist-generated=true
/.prettierrc.json linguist-generated=true
/.vscode/settings.json linguist-generated=true
/.vscode/launch.json linguist-generated=true
/package-lock.json linguist-generated=true
/package.json linguist-generated=true
/tsconfig.json linguist-generated=true
/lib/docs/* linguist-generated=true=true
